.header__icon {
  @include icon-hover;
  @include tableta {
    width: 20px;
    height: 22px;
  }
}

.main__title {
  @extend %title;
  margin: 0;
  padding: 9px 0;
  @include tableta { font-size: 3rem; }
  @include celular { font-size: 40px; }
}

.main__text {
  font-size: 25px;
  color: #000;
  opacity: 0.9;
  @include tableta { font-size: 1.2rem; }
  @include celular { font-size: 19px; }
}

.products__item {
  @include flex-center(column, 20px);
  margin: 10px;
  align-items: center;
  overflow: hidden;
  @include box-shadow();
  @include celular {
    border-bottom: 2px solid #000;
  }
}

.products__item:hover .products__image {
  transform: scale(1.1); 
}
.products__image {
  width: 240px;
  height: 250px;
  object-fit: cover;
  transition: transform 0.4s ease;
  @include tableta {
    width: 155px;
    height: 200px;
  }
}

.products__name {
  font-size: 30px;
  @include celular { font-size: 25px; }
}

.products__price {
  font-size: 20px;
  padding-bottom: 10px;
  opacity: 0.6;
  @include celular {
    font-size: 16px;
    margin: 10px;
  }
}

.products__button {
  @include button-style();
}

.cart {
  background-color: #fff;
  box-shadow: -19px 0px 20px rgba(0, 0, 0, 0.2);
  @include celular { box-shadow: none; }

  &__title {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    @include celular { font-size: 32px; }
  }
  &__item {
    border-bottom: 1px solid $mainColor;
  }
  &__image {
    width: 100px;
    @include celular { width: 150px; }
  }
  &__description {
    font-size: 20px;
    font-weight: 600;
    @include celular {
      font-size: 18px;
      margin: 5px;
    }
  }
  &__icon {
    width: 20px;
    cursor: pointer;
  }
}
@media (hover: hover) and (pointer: fine) {
  .products__button:hover {
    background-color: $secundaryColor;
    color: #fff;
  }
  .header__link,.footer__link:hover {
    color: $secundaryColor;
    text-decoration: underline;
  }
}